<a href="https://colab.research.google.com/github/zahra-fatima-cymk/python-s-programming/blob/main/lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=3
b=5
print(a+b)

8

In [2]:
#this is a comment
print('hello world')

hello world

In [3]:
x=5
y='zara'
z=10.22
print(x,y,z)

5 zara 10.22

In [4]:
x=5
print(type(x))

<class 'int'>

In [5]:
x=5
x='zara'
print(type(x))

<class 'str'>

In [7]:
x=int(3)
y=float(4.00)
z=str('zara')

In [9]:
#python is case senstive
a='zara'
A=2
#A will not overwrite a
print(a)
print(A)

zara
2

In [10]:
#many values to multiple variable
x,y,z='zara','zara1','zara2'
print(x)
print(y)
print(z)

zara
zara1
zara2

In [11]:
#one value to multiple variables
x=y=z='zara'
print(x)
print(y)
print(z)

zara
zara
zara

In [12]:
#unpack a collection
#if you have a collection of values in a list ,tuple etc.python allows you to extact the values into variables that is called unlocking
fruits=['apple','banana','cherry']
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [13]:
#output print function
x='python is awesome'
print(x)

python is awesome

In [14]:
#output seperated by comma
x='python'
y='is'
z='awesome'
print(x,y,z)

python is awesome

In [15]:
#using + operator=> in string we can also use + operator to concate string but in number + operator work as mathematical operator
x='python'
y='is'
z='awesome'
print(x+y+z)
a=1
b=2
print(a+b)

pythonisawesome
3

In [16]:
#global variable =>variable declare outside a function is a globle variable and it can be accessed anywhrer inside and outside a function
x='awesome'
def myname():
  'python is  '+x
  myname()

In [17]:
#local variable=>variable declare inside a function is a local variable if it is the same name of global variable it remain as global
x='awesome'
def myname():
  x='world'
  print('hello '+x )
  myname()
  print('python is '+x)

In [19]:
#variable with global keyworld=>if a variable declare with global keyword ,it belongs to global scope
x='zara'
def myfun():
  global x
  x='world'
myfun()
print('hello '+x)

hello world